<body style="background-color: gray;"></body>

<form method  = "POST" style="color:white">
    ID: <input name = "name">
    Full Name: <input name = "full-name">
    <input type = "submit", 
    style="font-family: Game of Thrones;">

    <p><br></p>
    <p style="color:white">ID Key</p>

<section style="display:flex; justify-content: space-between; color:white">
    <div>
        <p>0: Daenerys Targaryen</p>
        <p>1: Samwell Tarly</p>
        <p>2: Jon Snow</p>
        <p>3: Arya Stark</p>
        <p>4: Sansa Stark</p>
        <p>5: Brandon Stark</p>
        <p>6: Ned Stark</p>
        <p>7: Robert Baratheon</p>
        <p>8: Jamie Lannister</p>
        <p>9: Cersei Lannister</p>
        <p>10: Catelyn Stark</p>
        <p>11: Robb Stark</p>
        <p>12: Theon Greyjoy</p>
        <p>13: Joffrey Baratheon</p>
        <p>14: Tyrion Lannister</p>
    </div>
    <div>
        <p>15: Sandor Clegane</p>
        <p>16: Petyr Baelish</p>
        <p>17: Davos Seaworth</p>
        <p>18: Stannis Baratheon</p>
        <p>19: Varys</p>
        <p>20: Khal Drogo</p>
        <p>21: Margaery Tyrell</p>
        <p>22: Ygritte</p> 
        <p>23: Brienne Tarth</p>
        <p>24: Missandei</p>
        <p>25: Gilly</p>
        <p>26: Viserys Targaryn</p>
        <p>27: Rickon Stark</p>
        <p>28: Roose Bolton</p>
        <p>29: Daario</p>
    </div>
    <div>
        <p>30: Shae</p>
        <p>31: Tommen Baratheon</p>
        <p>32: Gendry Baratheon</p>
        <p>33: Jorah Mormont</p>
        <p>34: Robert Baratheon</p>
        <p>35: Ramsey Bolton</p>
        <p>36: Talisa Stark</p>
        <p>37: Jeor Mormont</p>
        <p>38: The High Sparrow</p>
        <p>39: Oberyn Martell</p>
        <p>40: Melisandre</p>
        <p>41: Jaqen H'ghar</p>
        <p>42: Tywin Lannister</p>
        <p>43: Ellaria Sand</p>
        <p>44: Tormund Giantsbane</p>
    </div>
    <div>
        <p>45: Yara Greyjoy</p>
        <p>46: Euron Greyjoy</p>
        <p>47: Hodor</p>
        <p>48: Pycelle</p>
        <p>49: Grey Worm</p>
        <p>50: Olenna Tyrell</p>
        <p>51: Qyburn</p>
        <p>52: Lord Bronn</p>
    </div>
</section>
</form> 