<head>
    <title>Throne</title>
    <link rel="stylesheet" href="static/image.css">
</head>

<body>
    <br>

    <h1 style="font-family: Game of Thrones; 
    text-align:center;
    margin:50px;
    font-size:50px;
    color:white">
    When you play the game of thrones, 
    <br>
    <br>
    you win or you die.</h1>
    
    <p style="font-family: Game of Thrones; 
    text-align:center; 
    margin:150px;
    font-size:24px;
    color:white">
    {{title_2}}</p>

    <nav>
        <a href='characters'>Characters</a>
        <a href='form'>Form</a>
    </nav>
</body>
